<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Product Page Detail</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
</head>
<body>
<div th:replace="~{fragments/nav-bar/nav-bar :: nav}"></div>

<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-one-third">
                <div class="card">
                    <div class="card-content">
                        <div class="media">
                            <div class="media-left">
                            </div>
                            <div class="media-content">
                                <p class="title is-4" data-th-text="${appointment.getPatient().getFirstName()} + ' ' + ${appointment.getPatient().getLastName()}"></p>
                            </div>
                        </div>
                        <div class="content">
                            <p data-th-text="'ID: ' + ' ' + ${appointment.getId()}"></p>
                        </div>
                        <div class="content">
                            <p data-th-text="'Лечащий врач: ' + ' ' + ${appointment.getDoctor().getFirstName()} + ' ' + ${appointment.getDoctor().getLastName()}"></p>
                        </div>
                        <div class="content">
                            <p data-th-text="'Пациент: ' + ' ' + ${appointment.getPatient().getFirstName()} + ' ' + ${appointment.getPatient().getLastName()}"></p>
                        </div>
                        <div class="content">
                            <p data-th-text="'Причина обращения: ' + ' ' + ${appointment.getReason().getTitle()}"></p>
                        </div>
                        <div class="content">
                            <p data-th-text="'Дата обращения: ' + ' ' + ${appointment.getDateOfAppointment()}"></p>
                            <p data-th-text="'Время обращения: ' + ' ' + ${appointment.getTimeOfVisit()}"></p>
                        </div>
                    </div>
                    <footer class="card-footer">
                        <form method="post" data-th-action="@{/hospital/appointments/{id}(id=${appointment.id})}">
                            <button type="submit" class="card-footer-item">Удалить</button>
                        </form>
                    </footer>
                </div>
            </div>
            <div class="column highlight-full">
                <form method="post" data-th-action="@{/hospital/appointments/update-appointment/{id}(id=${appointment.getId()})}">
                    <div class="field">
                        <label class="label">Дата обращения</label>
                        <div class="control">
                            <input class="input" type="text" placeholder="Text input" name="dateOfAppointment">
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Дата посещения</label>
                        <div class="control">
                            <input class="input" type="text" placeholder="Text input" name="timeOfVisit">
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Врач</label>
                        <div class="control">
                            <div class="select">
                                <select name="doctor_id">
                                    <option th:each="doctor : ${doctors}" th:text="${doctor?.getFirstName()} + ' ' + ${doctor?.getLastName()}" th:value="${doctor?.getId()}"></option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Пациент</label>
                        <div class="control">
                            <div class="select">
                                <select name="patient_id">
                                    <option th:each="patient : ${patients}" th:text="${patient?.getFirstName()} + ' ' + ${patient?.getLastName()}" th:value="${patient?.getId()}"></option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Причина</label>
                        <div class="control">
                            <div class="select">
                                <select name="reason_id">
                                    <option th:each="reason : ${reasons}" th:text="${reason?.getTitle()}" th:value="${reason.getId()}"></option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="field is-grouped">
                        <div class="control">
                            <button type="submit" class="button is-link">Изменить</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
</body>
</html>