<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
    <title>История лечения &ndash; Клиника</title>
</head>
<body>
<div th:replace="~{fragments/nav-bar/nav-bar :: nav}"></div>
<div class="container">
    <h3>История лечения</h3>
    <button class="button js-modal-trigger" data-target="modal-js-example">
        Создать новую запись
    </button>
    <form method="post" data-th-action="@{/hospital/history-of-treatment/delete-history}">
        <button type="submit" class="button">Удалить все истории лечения</button>
    </form>
    <div id="modal-js-example" class="modal">
        <div class="modal-background"></div>

        <div class="modal-content">
            <div class="box">
                <form method="post" action="/hospital/history-of-treatment/create-history">
                    <div class="field">
                        <label class="label">Номер обращения</label>
                        <div class="control">
                            <input class="input" type="text" placeholder="Text input" name="appointmentId">
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Описание</label>
                        <div class="control">
                            <input class="input" type="text" placeholder="Text input" name="description">
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Цена</label>
                        <div class="control">
                            <input class="input" type="text" placeholder="Text input" name="price">
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Скидка</label>
                        <div class="control">
                            <input class="input" type="text" placeholder="Text input" name="discount">
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Дата лечения</label>
                        <div class="control">
                            <input class="input" type="text" placeholder="Text input" name="dateOfTreatment">
                        </div>
                    </div>
                    <div class="field is-grouped">
                        <div class="control">
                            <button type="submit" class="button is-link">Создать</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>
    <hr>
    <div class="columns is-flex-wrap">
        <div class="column is-4" data-th-each="history : ${histories}">
            <div class="card">
                <div class="card-content">
                    <div class="content">
                        <p data-th-text="${history.getAppointmentId()}"></p>
                        <p data-th-text="${history.getDescription()}"></p>
                        <p data-th-text="${history.getPrice()}"></p>
                        <p data-th-text="${history.getDiscount()}"></p>
                        <p data-th-text="${history.getDateOfTreatment()}"></p>
                    </div>
                </div>
                <footer class="card-footer">
                    <form method="post" data-th-action="@{/hospital/history-of-treatment/{id}(id=${history.id})}">
                        <button type="submit" class="card-footer-item">Удалить</button>
                    </form>
                </footer>
            </div>
        </div>
    </div>
</div>
</body>
<script type="text/javascript" th:src="@{/js/admin-js.js}"></script>
</html>